dy { 
  background-color: #fffdda;  
  margin: 0;
  padding: 0;
  text-align: center;
}

*
{
  margin:0px;
  padding:0px;
}

body{
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}

h1
{
	font-size: 20pt;
	margin-top: 0;
}

h2
{
  margin-left: 18px;
  font-size: 19px;
  font-weight: normal;
  color: white;
  display: inline;
}

#page, #content
{
	width: 1000px;
	text-align: left;
	margin: auto;
}

#header{
  height:180px;

}

#header_inside{
  width:1000px;
  margin:0 auto;
  position:relative;
}

.rounded-corners {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.bottom-rounded-corners {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top-rounded-corners {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.shopping_cart
{
  position: absolute;
  width: 200px;
  height: 32px;
  background: url(shopping_cart_icon.gif) no-repeat;
  left: 800px;
  top: 80px;
}

.shopping_cart .cart_link
{
  color: green;
  font-size: 12px;
  margin-left: 40px;
}

.shopping_cart .cart_detail
{
  display: inline;
}

#menu{
  position:absolute;
  top:125px;
  width: 1000px;
  height: 45px;
  background: url(navbg.jpg) no-repeat;
  font-size:13px;
}

#menu li{
  display:inline;
  line-height: 45px;
}

#menu li.last_menu_item
{
  float: right;
  margin-right: 10px;
}

#menu .logged_user
{
  color: green;
}

#menu .nav_pipe
{
  float: left;
  margin: 0 10px 0 10px;
}

#menu a{
  margin:0 1px 0 0;
  width:110px;
  text-align:center;
  display:block;
  float:left;
  color:gray;
  font-weight: bold;
  text-decoration:none;
}

#wrapper{
  padding:0 0 142px 0
}

#content_inside{
  background-position:top left;
  background-repeat:no-repeat;
  width:1000px;
  margin:0 auto;
  overflow:hidden
}

#content_inside #list li{
  height: 20px;
  margin: 0px 0px 2px 0px;
}
#content_inside #list li.button a{
  color:white;
}
#content_inside #list li.selected{
  width:120px;
  height: 35px;
}

#content_inside #list li.selected a{
  line-height: 30px;
}

#content_inside #list a{
  text-decoration: none;
  line-height: 24px;
  margin-left: 10px;
}

#sidebar{
  width:112px;
  float:left;
  background: transparent url(categorias.png) no-repeat;
  margin-top: 20px;
  height: 191px;
}
#sidebar #list{
  margin: 3px 0px 0px 10px;
}

#sidebar #list .title{
  margin-bottom: 10px;
}

#sidebar #list .title a{
  font-size: 16px;
  font-weight: normal;
  color: black;
}

#sidebar .button{
  font-size: 16px;
}

#main_block{
  font-size:11px;
  color:#464646;
  overflow:hidden;
  float:left;
  width:900px;
  margin-left: -12px;
}

#product_container{
  width: 635px;
  height: 500px;
  float:left;
  background: transparent url(fondo.png) no-repeat;
}

#product_container h1{
  margin: 10px 0px 10px 15px;
  font-size: 20px;
}
  
.news{
  background-color: #92B901;
  width:220px;
  height: 200px;
  float:left;
  margin-left:25px;
  padding: 10px;
}

.news table {
  border-bottom: 1px green dashed;
  height: 70px;
}
.news p {
  color: white;
  font-size: 13px;
  margin-top: 10px;
  text-align: right;
}

.news h3{
  padding:5px 0 0 2px;
  color: black;
  float: right;
  font-size: 18px;
}

#items {
  float: left;
  margin-left: 20px;
}

.item{
  width:180px;
  height:220px;
  float:left;
  text-align: center;
  margin: 0px 10px 0px 10px;
}
.item .item-title{
  height: 7px;
  background-color: #5F04B4;
}
.item .price{
  background-color: #92B901;
  height: 25px;
  line-height: 25px;
}

.item span{
  font-size:14px;
  color: green;
}

.buy{
  display:block;
  float:left;
  line-height:18px;
  margin:3px 3px 0 0;
  width:92px;
  text-align:center;
  background-image:url(buy_bg.gif);
  background-position:top left;
  background-repeat:no-repeat;
  color:#CAFF34;
  text-decoration:none
}

.description{
  width:220px;
  float:left;
  padding:55px 0 0 25px;
}

.description p{
  padding-bottom:15px;
}

.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}

/* Catalog */
table.catalog
{
	border-collapse:collapse;
}
.catalog td
{
	padding: 8px 8px 8px 8px;
	vertical-align:top;
	margin-bottom: 32px;
	border-bottom: 1px maroon solid;
}
.catalog img
{
	border: 0;
	width:120px;
}
.title
{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
}
.description
{
	margin-bottom: 16px;
}
.links
{
	float: left; 
	text-align: left;
}
.price
{
	color: maroon;
	font-weight: 800;
	font-size: 14pt;
	text-align:right;
}

/* Cart */
table.cart
{
	border-collapse:collapse;
}
.cart td
{
	padding: 8px 8px 8px 8px;
	vertical-align:top;
	border: 1px maroon solid;
}
.cart img
{
	border: 0;
	width:60px;
}
.cart .legend
{
	font-weight: bold;
}
.cart .title
{
	font-size: 16px;
	font-weight:normal;
}
.cart .price
{
	color: black;
	font-size: 16px;
	font-weight:normal;
}
.cart .quantity
{
	color: black;
	font-size: 16px;
	text-align: center;
}
.cart .quantity form, .cart .quantity form div
{
	display: inline;
} 
.cart .total
{
	font-weight: bolder;
	text-transform:uppercase;
	text-align: right;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
/*SLIDER */
#s3slider { 
   width: 1000px; /* important to be same as image width */ 
   height: 300px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin-bottom: 10px;
}

#s3sliderContent {
   width: 1000px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 1000px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   top: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image 
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.clear {
   clear: both;
}