*{
margin:0px;
padding:0px
}
img{border:0px}
a, a:visited, a:link, a:hover{
  color:white;
  text-decoration:none;
}
html{
width:100%;
}
body{
width:870px;
margin:auto;
color:white;
font-family: 'PT Sans', sans-serif;
font-style:italic;
}
#header{
background: url(background_header.png) repeat-x;
float:left;
height:100px;
width: 870px;
}
#header .title{
  float:left;
  font-size:30px;
  width: 500px;
  text-align: center;
  height:60px;
  margin-top: 12px;
  line-height:30px;
}
#header .title .bold{
  font-weight: bold;
}
#header img.logo{
float:left;
margin: 14px 0px 6px 30px;
}
.lang{
float:left;
width:100px;
margin: 0px 40px 0px 50px;
}
.lang img{
margin: 15px 5px 0px 5px;
}
.selectedLang{
  font-size: 12px;
}
.cart{
float: right;
width: 330px;
margin: -70px 40px 0 0px;
background: url(shopping_cart.png);
height: 70px;
color:#666;
}
.cart .cartTitle{
font-size:17px;
margin-left:15px;
height: 17px;
line-height:55px;
}
.cart .cartSubtTitle{
  float: right;
  font-size: 13px;
  margin: -30px 15px 0px 0px;
}
.cart font{
color:#C30205;
font-weight:bold;
font-size:13px
}
#menuContainer{
float:left;
width:100%;
height:55px;
background:url(background_menu.png) repeat-x;
line-height: 55px;
}
#leftEar{
  background: url(left_ear.png) no-repeat;
  float: left;
  width: 7px;
  height: 55px;
  margin-left: -7px;
  position: absolute;
  top: 102px;
}
#rightEar{
  background: url(right_ear.png) no-repeat;
  float: left;
  width: 7px;
  height: 55px;
  position: absolute;
  top: 102px;
  margin-left: 870px;
}
#menuContainer #menu{
  width: 50%;
  font-size: 14px;
  display: block;
  height: 55px;
  padding-left: 30px;
}
#menu .pipe{
  margin: 0px 10px 0px 10px; 
}
#menu li, #menu li img{
list-style-type:none;
float:left
}
#content{
float:left;
width:870px;
}
#left{
float:left;
width:150px;
height:140px;
margin:10px 10px 10px 10px;
}
#left h2{
font-family:Tahoma;
font-size:11px;
color:#4F4D4D;
background-color:#EBE0DB;
display:block;
text-align:center;
padding:12px 0 12px 0
}
.leftnav{
display:block;
float:left;
background-color:#F5EBE7
}
.leftnav li{
list-style-type:none;
float:left;
width:150px;
height:16px;
display:block;
background-image:url(arrows.gif);
background-position:10px 8px;
background-repeat:no-repeat;
border-bottom:1px solid #EBE0DB
}
.leftnav li a{
display:block;
float:left;
font-family:Tahoma;
font-size:11px;
color:#000000;
text-decoration:none
}
#left .bord{
border-bottom:0px
}
.block1{
height:157px;
float:left
}
.block1 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#FFFFFF;
display:block;
text-decoration:underline
}
.block1 a:visited, .block2 a:visited, .block3 a:visited {text-decoration:underline}
.block1 a:hover, .block2 a:hover, .block3 a:hover  {text-decoration:none}
#right{
float:left;
margin:10px 0 0 0px;
width:550px;
}
#right .content{
  width: 375px;
} 
.block2{
background-image:url(pic2.jpg);
background-position:top left;
background-repeat:no-repeat;
width:214px;
height:151px;
float:left
}
.block2 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#E3010F;
margin:101px 0 0 26px;
display:block;
text-decoration:underline
}
.block3{
background-image:url(pic3.jpg);
background-position:top left;
background-repeat:no-repeat;
width:332px;
height:151px;
float:left;
margin:0 0 0 3px;
display:inline
}
.block3 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#FFFFFF;
margin:116px 0 0 22px;
display:block;
text-decoration:underline
}
.items{
float:left;
display:inline;
width:376px;
}
.item{
float:left;
height:200px;
border:4px solid #E5E5E5;
font-family:Tahoma;
font-size:11px;
color:#6E6E6E;
font-weight:bold;
margin:0 2px 3px 0;
display:inline
}
.item h3{
display:block;
font-family:Tahoma;
font-size:12px;
color:#595959;
width:171px;
background-color:#E5E5E5;
padding:15px 0 15px 7px
}
.item img{
float:left;
margin-top: 20px;
}
.item p{
float:left;
width:80px;
margin:10px 0 0 0;
padding:10px 0 4px 8px;
border-left:2px solid #E9DBDB
}
.item span{
display:block;
float:left;
margin:15px 0 10px 0;
color:#6DB200;
font-size:18px
}
.item a{
display:block;
float:left;
clear:both;
width:66px;
padding:0 0 6px 0;
text-decoration:underline;
color:#6E6E6E
}
#right .red{
color:#F02400
}
.news{
background-image:url(title.gif);
background-position:top left;
background-repeat:no-repeat;
float:left;
width:173px;
margin: 0px 0 4px 0;
padding:60px 0 7px 0;
background-color:#ECDDCE;
color:#454545;
font-family:Tahoma;
font-size:11px;
text-align: center;
}
.news p{
padding:0 0 15px 10px;
width:150px;
text-align: left;
}
.news p input{
  margin-top: 5px;
}
.news span{
font-family:Tahoma;
font-size:11px;
color:#454545;
text-decoration:underline;
font-weight:bold
}
.news a{
display:inline;
padding:0 0 0 5px
}
#right .read{
font-family:Tahoma;
font-size:10px;
font-weight:bold;
color:#454545;
background-image:url(arrows2.gif);
background-position:right 5px;
background-repeat:no-repeat;
display:block;
width:70px;
text-decoration:none
}
.new{
float:left;
width:173px;
text-align:center;
font-family:Tahoma;
font-size:11px;
color:#010101;
}
.new span{
color:#FE4400;
font-size:14px;
display:block;
font-weight:bold;
padding:2px 0 0 0
}
.new img{
  margin-bottom: 5px;
}
#footer{
float:left;
margin:4px 0 0 0;
padding:10px 0 0 0;
background-color:#E7E3D8;
height:59px;
width:100%;
}
.pay{
margin:12px 50px 0 13px;
float:left
}
.copy{
float:left;
color:#626262;
font-family:Tahoma;
font-size:11px;
font-weight:bold;
width: 500px;
}
.copy p{
width:500px;
text-align:center
}
.botmenu{
display:block;
float:left;
width:450px;
padding:10px 0 5px 35px
}
.botmenu li{
float:left;
list-style-type:none;
padding:0 10px 0 10px;
background-image:url(dots.gif);
background-position:top right;
background-repeat:no-repeat;
}
.botmenu a{
color:#807F7F;
text-decoration:none;
float:left;
}
#footer .back{
background-image:none;
width:90px;
}
#footer p{
float:left
}
#footer p a{
color:#626262;
text-decoration:none
}
#footer p .under{
text-decoration:underline
}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}
/*SLIDER */
#s3slider { 
   width: 470px; /* important to be same as image width */ 
   height: 230px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin-bottom: 10px;
}

#s3sliderContent {
   width: 470px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 470px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image 
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.clear {
   clear: both;
}