*{
margin:0px;
padding:0px
}
ul{list-style: none;}
img{border:0px}
a, a:visited, a:link, a:hover{
  color:#333;
  text-decoration:none;
  font-size: 14px;
}
html{
width:100%;
}
.content{
  color:#333;
}
.description, table{
  font-size: 12px;
  font-style: normal;
  width:100%;
  margin-top: 5px;
  text-align: center;
  border-collapse: collapse;
  color:#666;
}
table tr td{
  border-bottom: 1px solid #ccc;
}
.send{
  float:right;
}
body{
width:870px;
margin:auto;
color:white;
font-family: 'PT Sans', sans-serif;
font-style:italic;
}
#menu a{
  color: white;
  text-decoration: none;
}
#content form{
  color: #333;
}
#header{
background: url(background_header.png) repeat-x;
float:left;
height:100px;
width: 870px;
}
#header .title{
  float:left;
  font-size:30px;
  width: 500px;
  text-align: center;
  height:60px;
  margin-top: 12px;
  line-height:30px;
}
#header .title .bold{
  font-weight: bold;
}
#header img.logo{
float:left;
margin: 14px 0px 6px 30px;
}
.lang{
float:left;
width:100px;
margin: 0px 40px 0px 50px;
}
.lang img{
margin: 15px 5px 0px 5px;
}
.selectedLang{
  font-size: 12px;
}
.cart{
float: right;
width: 330px;
margin: -70px 40px 0 0px;
background: url(shopping_cart.png);
height: 70px;
color:#666;
}
.cart .cartTitle{
font-size:17px;
margin-left:15px;
height: 17px;
line-height:55px;
}
.cart .cartSubtTitle{
  float: right;
  font-size: 13px;
  margin: -30px 15px 0px 0px;
}
.cart font{
color:#C30205;
font-weight:bold;
font-size:13px
}
#menuContainer{
float:left;
width:100%;
height:55px;
background:url(background_menu.png) repeat-x;
line-height: 55px;
}
#leftEar{
  background: url(left_ear.png) no-repeat;
  float: left;
  width: 7px;
  height: 55px;
  margin-left: -7px;
  position: absolute;
  top: 102px;
}
#rightEar{
  background: url(right_ear.png) no-repeat;
  float: left;
  width: 7px;
  height: 55px;
  position: absolute;
  top: 102px;
  margin-left: 870px;
}
#menuContainer #menu{
  width: 50%;
  font-size: 14px;
  display: block;
  height: 55px;
  padding-left: 30px;
}
#menu .pipe{
  margin: 0px 10px 0px 10px; 
}
#menu li, #menu li img{
list-style-type:none;
float:left
}
#content{
float:left;
width:870px;
}
#left{
float:left;
width:150px;
height:140px;
margin:10px 10px 10px 40px;
}
#left h2{
font-family: 'PT Sans', sans-serif;
font-size:13px;
font-weight: bold;
color:white;
background-color:#333;
display:block;
text-align:center;
line-height: 30px;
font-style: normal;
}
.leftnav{

}
.leftnav li{
list-style-type:none;
float:left;
width:150px;
height:20px;
display:block;
border-bottom:1px dashed #333;
}
.leftnav li a{
line-height: 22px;
display:block;
float:left;
font-size:12px;
color:#333;
text-decoration:none;
font-style: normal;
cursor: pointer;
}
#left .bord{
border-bottom:0px;
}
.block1{
height:157px;
float:left;
margin-top:5px;
}
.block1 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#FFFFFF;
display:block;
text-decoration:underline;
}
.block1 a:visited, .block2 a:visited, .block3 a:visited {text-decoration:underline}
.block1 a:hover, .block2 a:hover, .block3 a:hover  {text-decoration:none}
#right{
float:left;
margin:10px 0 0 0px;
width:200px;
}
#middle{
  float:left;
  width: 470px;
  margin:10px 0 0 0px;
}
#middle .content .header{
background-color: #ECE741;
width:465px;
height:35px;
float:left;
color:#333;
line-height:35px;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 20px;
text-align: left;
padding-left: 5px;
font-style: normal;
} 
.block2{
background-image:url(pic2.jpg);
background-position:top left;
background-repeat:no-repeat;
width:214px;
height:151px;
float:left
}
.block2 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#E3010F;
margin:101px 0 0 26px;
display:block;
text-decoration:underline
}
.block3{
background-image:url(pic3.jpg);
background-position:top left;
background-repeat:no-repeat;
width:332px;
height:151px;
float:left;
margin:0 0 0 3px;
display:inline
}
.block3 a{
font-family:Tahoma;
font-size:11px; 
font-weight:bold;
color:#FFFFFF;
margin:116px 0 0 22px;
display:block;
text-decoration:underline
}
#top_paginator, #bottom_paginator{
width:100%;
height: 25px;
color:#333;
line-height:25px;
float:left;
}
#top_paginator .pagination {
  float: right;
}
#top_paginator .pagination a, #bottom_paginator .pagination a{
  color: #333;
}
#top_paginator .pagination em, #bottom_paginator .pagination em{
  color: red;
}
#top_paginator{
border-bottom: 1px solid #999;
}
#bottom_paginator{
border-top: 1px solid #999;
}
.border{
border-right: 1px solid #999;
}
.separator{
  height: 1px;
  width:100%;
  border-top:1px solid #999;
  float:left;
}
.buy_button{
  background: url(comprar_boton.png) no-repeat;
  border:0px;
  height:23px;
  width:89px;
  color: white;
  text-align: left;
  padding-left:10px;
  float: right;
  cursor: pointer;
}
.item{
font-family: 'PT Sans Narrow', sans-serif;
font-style: normal;
float:left;
height:220px;
width:135px;
font-size: 12px;
text-align: left;
margin: 10px 0px 10px 0px;
padding: 0px 10px 0px 10px;
}
.item .title{
color:black;
font-weight: bold;
}
.item .code{
color:black;
font-weight: normal;
}
.item img{
float:left;
margin: 10px;
}
.item span{
display:block;
float:right;
color:#31784C;
font-size:28px;
margin-bottom: 10px;
}
.item a{
font-size: 12px;
float:left;
clear:both;
text-decoration:underline;
color:black
}
.news{
float:left;
width:173px;
text-align:center;
font-size:11px;
color:#010101;
}
.find_us{
background: url(encontranos_aca.png) no-repeat;
height: 145px;
width: 150px;  
margin-left: 10px;
padding-top: 10px;
}
.facebook{
background: url(facebook_img.png) no-repeat;
height: 85px;
width: 150px;
margin-left: 10px;
padding-top: 10px;
}
.find_us .title, .facebook .title{
font-family: 'PT Sans Narrow', sans-serif;
font-size: 20px;
font-style: normal;
color:white;
}
.newsletter {
background: url(newsletter_img.png) no-repeat;
width:152px;
height:300px;
margin-left:10px;
padding-top:10px;
font-style: normal;
}
.newsletter .title{
font-family: 'PT Sans Narrow', sans-serif;
font-size: 26px;
color:#333;
}
.newsletter p{
width: 105px;
margin: 10px auto;
font-size: 12px;
color:#666;
}
.newsletter input{
width:124px;
height:25px;
margin:auto;
color:#999;
font-size:13px;
font-family: 'PT Sans Narrow', sans-serif;
line-height:25px;
text-align: left;
background-color: #E2E2E2;
}
.newsletter .send{
margin-right: 12px;
}
.newsletter .send a{
color:#333;
}
.left_shadow{
float: left;
width: 60px;
height: 100%;  
margin-left: -60px;
position: absolute;
background-image:url(sombra_izq.png);
background-repeat:repeat-y;
background-attachment:scroll;
bottom: 0px;
}
.right_shadow{
background: url(sombra_der.png) repeat-y;
float: left;
width: 60px;
height:100%;
position: absolute;
bottom: 0px;
background-attachment:scroll;
margin-left: 870px;
}
#sign_in_container {
float: left;
}
#sign_in_container div{
margin-top: 10px;
}
#footer{
float:left;
margin:4px 0 0 0;
padding:10px 0 0 0;
background:url(footer_background.png) repeat-x;
height:150px;
width:100%;
font-style: normal;
}
#footer a{
  color:white;
  font-size: 11px;
}
#footer ul{
  float: left;
  font-size:12px;
}
#footer #principal_nav{
  margin-left:40px;
  width: 200px;
}
#footer #menu_nav_1,#footer #menu_nav_2,#footer #menu_nav_3{
  margin-left:10px;
  width: 100px;
}
#footer #menu_nav_1 li,#footer #menu_nav_2 li,#footer #menu_nav_3 li{
   height: 20px;
}
#footer #principal_nav li{
  height: 25px;
}
#footer #follow_us_footer{
  margin-left:60px;
  float:left;
  font-size: 20px;
}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}
/*SLIDER */
#s3slider { 
   width: 470px; /* important to be same as image width */ 
   height: 230px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin-bottom: 10px;
   float:left;
}

#s3sliderContent {
   width: 470px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 470px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image 
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.clear {
   clear: both;
}